# How to use this file:
# 1. Copy this file as "mathpix-variables.env"
# 2. Insert the APP_ID and APP_KEY variables as shown below
# 3. Do NOT commit "mathpix-variables.env" to source control!
#    It is in the `.gitignore`
MATHPIX_APP_ID=<insert Mathpix APP ID here without braces>
MATHPIX_APP_KEY=<insert Mathpix APP KEY here without braces>