attrs==20.2.0
click==7.1.2
Flask==1.1.2
hypothesis==5.33.0
importlib-metadata==1.7.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.5.0
packaging==20.4
pathlib2==2.3.5
pkg-resources==0.0.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.1
six==1.15.0
sortedcontainers==2.2.2
toml==0.10.1
Werkzeug==1.0.1
zipp==3.1.0
requests==2.24.0
sympy==1.6.2
latex2sympy==1.0.3
antlr4-python3-runtime==4.8
